aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncpg==0.26.0
attrs==22.1.0
black==22.6.0
charset-normalizer==2.1.0
chat-exporter==2.2.2
click==8.1.3
colorama==0.4.5
discord-ext-menus==1.1
discord.py @ git+https://github.com/Rapptz/discord.py@9237106ee3ef832d8d93e0ca303ccb2956c6a933
emoji==2.0.0
frozenlist==1.3.1
grapheme==0.6.0
humanfriendly==10.0
idna==3.3
isort==5.10.1
multidict==6.0.2
mypy-extensions==0.4.3
pathspec==0.9.0
Pillow==9.2.0
platformdirs==2.5.2
pyreadline3==3.4.1
python-dotenv==0.20.0
pytz==2022.2.1
reactionmenu==3.1.0
tomli==2.0.1
typing_extensions==4.3.0
yarl==1.8.1
